$white: #ffffff;
$gallery: #ebebeb;
$alto: #dfdfdf;
$grey: #bcbcbc;
$med-grey: #8a8a8a;
$dark-grey: #484848;
$birch: #342a20;
$error: #a52c22;
$warning: #c6bc28;
$instacart-green: #43b02a;
$instacart-green-shaded: #245c16;