@import 'mixins';
@import 'settings';
@import 'colors';
@import 'material-design-fonticons';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// generate classes
@include gridle_generate_classes();

// animation
@include keyframes(wiggle) {
  0% {  @include rotate(0) }
  25% {  @include rotate(5) }
  50% {  @include rotate(0) }
  75% {  @include rotate(-5) }
  100% {  @include rotate(0) }
}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: auto;
}
body {
  margin: 0;
  background: $gallery url('../images/bg_fade.jpg') no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;

  // manage container width
  #container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    @include transform(translateY(50%));
    h1, h2, h3 {
      text-align: center;
    }
    .logo {
      display: block;
      height: 50px;
      margin: 10px auto;
      background: url('../images/carrot.png') no-repeat center center;
      background-size: contain;
      @include animation('wiggle 0.15s 0.5s 3');
    }
    .application {
      background-color: $gallery;
      @include rounded();
    }
    form {
      button {
        @include button($instacart-green, $white);
      }
      span.input_error {
        color: $error;
      }
    }
  }
}