@import 'settings';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// generate classes
@include gridle_generate_classes();


* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: auto;
}
body {
  margin: 0;
  background: $gallery url('../images/bg.jpg') no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;

  // manage container width
  #container {
    max-width : 960px;
    margin : 0 auto;
  }

}