@import 'mixins';
@import 'settings';
@import 'colors';
@import 'material-design-fonticons';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// generate classes
@include gridle_generate_classes();

// animation
@include keyframes(wiggle) {
  0% {  @include rotate(0) }
  25% {  @include rotate(5) }
  50% {  @include rotate(0) }
  75% {  @include rotate(-5) }
  100% {  @include rotate(0) }
}

* {
  box-sizing: border-box;
}

@include placeholder-color($alto);

html, body {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background: $gallery url('../images/bg_fade.jpg') no-repeat;
  background-size: cover;
  @include font();

  // manage container width
  #container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    @include transform(translateY(50%));
    h1, h2, h3 {
      font-weight: 300;
      &.center-text {
        text-align: center;
      }
      &.left-text {
        text-align: left;
      }
      &.right-text {
        text-align: right;
      }
    }
    a {
      color: $instacart-green;
      text-decoration: none;
      border-bottom: 1px dotted $instacart-green-shaded;
      &:hover {
        color: $instacart-green-shaded;
        border-bottom: 1px solid $instacart-green-shaded;
      }
      &:visited {
        color: $dark-grey;
        border-bottom: 1px dotted $dark-grey;
        &:hover {
          border-bottom: 1px solid $dark-grey;
        }
      }
    }
    .logo {
      display: block;
      height: 50px;
      margin: 10px auto;
      background: url('../images/carrot.png') no-repeat center center;
      background-size: contain;
      @include animation('wiggle 0.15s 0.5s 3');
    }
    .header {
      background: url('../images/pattern.png') repeat;
      background-size: 208px 208px;
      background-color: $instacart-green;
      color: $white;
      @include shaded-text($instacart-green-shaded);
      @include rounded-top();
    }
    .content {
      padding: 20px 0px;
      background-color: $gallery;
      @include rounded-bottom();
      .description {
        padding: 0px 20px;
        h2 {
          margin: 20px 0px 0px 0px;
        }
        h2, i {
          color: $med-grey;
          display: inline-flex;
          vertical-align: middle;
          font-size: 24px;
          line-height: 32px;
        }
        i {
          padding-right: 10px;
        }
        ul li {
          list-style: none;
          line-height: 2em;
        }
      }
    }
    button {
      @include button($instacart-green, $white);
      span, i {
        display: inline-flex;
        vertical-align: middle;
        line-height: 14px;
      }
      i {
        padding-left: 10px;
      }
    }
    form {
      input, select {
        @include input();
      }
      select {
        option:first-child
        {
          color: $alto;
        }
      }
      label {
        padding: 0px 0px 0px 10px;
        font-size: 1.2em;
        line-height: 2em;
      }
      span.input_error {
        display: block;
        height: 20px;
        font-size: 0.9em;
        color: $error;
      }
    }
  }
}